/* BSD 2-Clause License:
* Copyright (c) 2009 - 2016
 * Software Technology Group
 * Department of Computer Science
 * Technische Universität Darmstadt
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 *  - Redistributions of source code must retain the above copyright notice,
 *    this list of conditions and the following disclaimer.
 *  - Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the documentation
 *    and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE. 
*/

body {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 300;
	line-height: 1.4em;
	font-size: 14px;
}

h1 {
	font-size: 1.25em;
}

table {
	width:100%;
	min-width: 1000px;
	font-size: 14px;
	font-weight: inherit;
	margin-top: 1.5em;
	border: 1px solid gray;
}
table li, table td, table th {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
thead {
	font-weight: bold;
	color: white;
	background-color: #283F90;
}
caption {
	font-weight: light;
	font-size: 1.1em;
	border: 1px solid gray;
	padding: 0.2em;
	margin: 0;
	background-color: gray;
	color : white;
	text-align: left;
}
td.caption {
	background-color: rgb(159, 162, 183);
	color : white;
	padding: 0.3em;	
}
div.annotations{
	font-size: 0.8em;
}
span.unused{
	color: #999999;
}
span.keyword{
	padding-right:0.25em;
	color:rgb(155, 5, 151);
}
span.operator{
	padding-left:0.25em;
	padding-right:0.25em;
	font-weight:bold;
}
span.value{
	color:rgb(0,0,255);
}
th{
	vertical-align: top;
}
td{
	vertical-align: top;
}
tr.evaluated td{
	border-bottom: 1px solid #eee;
	padding-top: 3px;
	padding-bottom: 3px;
}

tr.not_evaluated td {
	background-color: #FFDBDB;
}
tr.evaluated:hover {
	background-color: #C6CEE9;
}
td + td {
	border-left: 1px solid #eee;
}

th {
	min-width: 75px;
}
th.pc {
	width: 75px;
}
th.instruction {
	width: 20%;
}
th.registers, th.stack {
	width: 27%;
}

td.stack{
	vertical-align: bottom;
}

ul.stack{
	list-style:none;
	margin-left:1em;
	margin-right:1em;
	margin-bottom: 2px;
	padding-left:0;
}

td.instruction{
	padding-left:5px!important;
	padding-right:5px!important;
}

td.properties{
	padding-left:5px!important;
}

ul.stack li{
	border:1px solid #888;
	border-bottom:1px solid #888;
	padding: 2;
	margin-bottom: -1px;
	vertical-align: top;
}

ol.registers{
	list-style-position : inside;
	margin-left:1em;
	padding-left:0;
}
ol.registers li{
	padding:1px;
}

td.pc{
	background-color: #EEEEEE;
}

span.method_parameters > span + span::before { 
	content:", ";
	color:#AA22FF;
}

.tooltip:hover > span{ 
	display:inline; 
	position:absolute; 
	color:#111; 
	border:1px solid #DCA; 
	background:#fffAF0;
}

.tooltip > span { 
	color:gray;
	z-index:10;
	display:none; 
	padding:0.5em 0.5em; 
	margin-top:-0.5em; 
	margin-left:0.5em;  
	line-height:1.5em;
	border-radius:4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 5px 5px 8px #CCC;
	-webkit-box-shadow: 5px 5px 8px #CCC;
	box-shadow: 5px 5px 8px #CCC;
}